/* *{
    margin: 0; padding: 0; box-sizing: border-box;
}
html{
    height: 100vh;
}

.header{
    border-top: 4px solid #62760c;
    width: 100%;
    height: 120px;
    background: rgb(83,82,4) ;
    background: linear-gradient(90deg, rgba(83,82,4,1) 1%, rgba(205,179,12,1) 100%, rgba(80,101,42,1) 100%);
}
.menu{
    width: 100%;
    height: 100%;
    display: flex; 
}
.menus{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
  
}
li{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.productos:hover{
    background-color:rgba(255, 255, 255, 0.381);
}
.productos{
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.653);
    border-radius: 10px;
}
.champuseria{
    font-size: 30px;
    font-family: 'Fredericka the Great', cursive;
    color: white;
    list-style: none;
    animation: latir infinite 3s linear;
}
@keyframes latir {
    from{
        transform:scale(1,1)
    }
    to{
     transform: scale(0.9, 0.9)
    }
 }

.slider{
    display: block;
    align-content: center;

    width: 100%;
    height:300px;
    background: rgb(83,82,4);
    background: linear-gradient(90deg, rgba(83,82,4,1) 1%, rgba(205,179,12,1) 100%, rgba(80,101,42,1) 100%);
} 

.hola{
    padding-top: 64px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}
.champuseriaVip{
    
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.conoce{
    color:#535204;
    display: block;
    background: white;
    padding: 10px;
    width: 150px;
    height: 35px;
    margin: 0px auto;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    border-radius: 7px;
    box-shadow: 0px 0px 12px 5px #535204;
    margin-top: 40px;
    transition: 300ms all;
}
.conoce:hover{
    background:  #535204;
    color: white;
    cursor: pointer;
}
.footer{
    background-color: #1a1c20;
    width: 100%;
    border-bottom: 1px solid gray;
    height: 100px;
   
     
}
.contactos{
    display: flex;
    align-items: center;
    justify-content:space-around;
    
    height: 80%;
}
.creado{
    text-align: center;
}
.contacto, .redes{
    text-align: center;
    color: white;
    
}
a{
    text-decoration: none;
    color: white;

}
.tituloContacto{
    margin-bottom: 10px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}







 */

 *{
    border: 0; margin: 0; 
}
body{
    text-align: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}
#header{
    height: 120px;
    width: 100%;
    background: rgb(83,82,4);
background: linear-gradient(90deg, rgba(83,82,4,1) 1%, rgba(205,179,12,1) 100%, rgba(80,101,42,1) 100%);
    border-top: 4px solid #62760c;
}
.center{
    width: 75%;
    margin: 0px auto;
    
}
.clearfix{
    clear: both;
    float: none;
}
#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
    font-family: 'Fredericka the Great', cursive;
     /* animacion y creamos los keyframes */
     animation: latir infinite 1s linear;

}


@keyframes latir {
   from{
       transform:scale(1,1)
   }
   to{
    transform: scale(0.9, 0.9)
   }
}
.champuseriaVip{
    margin-left: 50px;
margin-right: 50px;
}
.ver{
    text-align: center;
    
}
.texto{
    margin-top: 40px;
    text-align: center;
    
}

#brand{
    display: block;
    margin: 0px;
    float: left;
    font-size: 14px;
    
}
#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}
#menu ul{
    line-height: 118px;
    width: 100%;
    float: right;
}
#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
   
}
#menu a{
    text-decoration: none;
    color: black;
    transition: 300ms all;
    margin-left: 15px;
    margin-right: 15px; 
}
#menu a:hover{
    color: #f0a500;
}
#slider{
    width: 100%;
    height: 350px;
    
    color: white;
    text-shadow: 0px 0px 5px #444;
    background: rgb(83,82,4);
background: linear-gradient(90deg, rgba(83,82,4,1) 1%, rgba(205,179,12,1) 100%, rgba(80,101,42,1) 100%);

}
#slider h2{
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding-top: 138px;
    color: black;
}
#slider p{
    color: black;
}
.btn-white{
    color: black;
    display: block;
    background: #1a1c20;
    color: #f0a500;
    padding: 10px;
    width: 100px;
    height: 35px;
    margin: 0px auto;
    font-size: 15px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #444;
    margin-top: 40px;
    transition: 300ms all;
}
.btn-white1{
    color: black;
    display: block;
    background: rgb(83,82,4);
background: radial-gradient(circle, rgba(83,82,4,1) 1%, rgba(205,179,12,1) 100%, rgba(80,101,42,1) 100%);
    padding: 1px;
    width: 100px;
    height: 35px;
    margin: 0px auto;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #444;
    margin-top: 20px;
    transition: 300ms all;
}
.entregar{
    color: #444;
}



.btn-white1:hover{
   
    background: #1a1c20;
    color: #f0a500;
}
#slider.slider-small{
    height: 150px;
}
#slider.slider-small h1{
    margin: 0px;
    padding: 0px;
    padding-top: 53px;
}

#content{
    width: 70%;
    float: left;
     
    min-height: 650px;
    margin-right: 20px;
    
}
#sidebar{
    width: 25%;
    float: left;
    
}
.sidebar-item{
    background: #1a1c20;
    padding: 20px;
    margin-top: 72px;
    width: 100%;
    height: 519px;
}
.sidebar-item h3{
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 4px solid #62760c;
}
.sidebar-item .btn{
margin: 0px auto;
margin-top: 10px;
}
.pedidos{
    margin-top: 30px;
    color: white;
    
    font-size: 12px;
}

.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;

}
.btn-success{
    background: rgb(16, 171, 34);
}
.btn-success:hover{
    background: black;
}

.full-form{
    width: 50%;
    margin: 0px auto;
}

.full-form label{
    text-align: left;
    display: block;
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
}
input[type="text"],textarea{
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}
input[type="text"]:focus,textarea:focus{
    box-shadow: 0px 0px 4px rgb(189, 189, 189) inset;
}

textarea{
    width: 100%;
    min-width: 100%;
    height: 150px;
    max-width: 100%;
    min-height: 150px;
    max-height: 300px;
}
.radio-buttons{
    margin-top: 10px;
    margin-bottom:10px;
    float: left;
}
#footer{
    background: #1a1c20;
    width: 100%;
    height: 100%;
    line-height: 70px;
    color: #444;
}
.contactos{
    display: flex;
    justify-content: space-around;
}

.redes1{
    text-decoration: none;
    color: white;
}
.article-item{
    width: 100%;
    
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    height: 100%;
}
.article-item .image-wrap{
    width: 50%;
    height: 70%;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    
}
.tituloProductos{
    text-align: center;
}
.article-item .image-wrap img{
    height: 100%;
    text-align: center;
    width: 100%;
}
.article-item h2{
    display: block;
    width: 100%;
    margin-bottom: 7px;
}
#articles{
    height: 100%;
}
.article-item .date{
    display: block;
    width: 100%;
    color: #444;
}

.article-item a{
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
    text-transform: uppercase;
}
.article-item a:hover{
    text-decoration: underline;
}
.subheader{
    margin-top: 30px;
    font-size: 27px;
    border-bottom: 1px solid #eee;
    font-family: 'Fredericka the Great', cursive;
    padding-bottom: 10px;
}

.article-detail .image-wrap{
   float: none;
   width: 100%;
   height: 300px;
}
.article-detail .image-wrap img{
    width: 100%;
    height: auto;
 }

 .article-detail .subheader{
   margin-bottom: 5px;
   border: none;   
 }
 .mapa{
     width: 100% !important;
     height: 100% !important;
 }

 /* lulada html */
.lulada1{
    width: 100%;
}
.lulada2{
    width: 100% !important;
    min-height: 515px !important;
}
.luladaImg{
    height: 100% !important;
}
.precios{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 200px;
}
.precio1, .precio2{
    width: 30%;
    text-align: center;
    border-radius: 2px;
    background: #1a1c20;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px #1a1c20
    
}
.onzas{
    color: #62760c;
    border-bottom: 4px solid #62760c;
}
.medida{
    color: white;
    margin-top: 20px;
}
.comprar{
    margin-top: 40px !important;
    color:white !important;
    background: rgb(83,82,4);
}
.comprar:hover{
    text-decoration: none !important;
    color:rgb(83,82,4) !important;
    background: white !important;
    
}
.luladaCenter{
    display: flex;
    justify-content: center;
}
.atras{
    font-size: 10px;
    
    padding: 10px;
    
}
.volverBtn{
    color:#62760c ;
}
.atras:hover{
    text-decoration: none !important;
}
.texto2{
    margin-top: 0px;
    margin-left: 37px;
margin-right: 37px;
}

#nuevo{
    height: 100%;
    width: 100%;
    display: flex;
}
.fotos{
    height: 100%;
    width: 100%;
   
}
.fotos45{
    height: 100%;
    width: 100%;
}
.precios3{
    height: 100%;
    width: 100%;
    
}
.resp{
    display: flex;
    justify-content: space-around;
}
.indexof{
    height: 390px;
}
 /* responsive */
 /* desde la anchura 0px hasta la anchura 1488px de pantalla*/
 @media (max-width: 894px){
     .center{
         width: 95%;
     }
     #nuevo{
        
        display: block;
    }
 }
 @media (max-width: 1010px){
    #logo{
        float: none;
        width: 240px;
        margin: 0px auto;
        margin-top: 20px;
    }
    #menu,
    #menu ul{
        clear: both;
        float: none;
        line-height: 53px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #nuevo{
        
        display: block;
    }
}
@media (max-width: 494px){
    .center{
        width: 100%;
    }
    #nuevo{
        
        display: block;
    }
}

@media (max-width: 468px){
    #menu a{
        font-size: 15px;
    }
    #nuevo{
        
        display: block;
    }
}
@media (max-width: 464px){
    .champuseriaVip{
       font-size: 13px;
    }
    #nuevo{
        
        display: block;
    }
}
@media (max-width: 418px){
    #menu a{
        font-size: 10px;
    }
    #nuevo{
        
        display: block;
    }
}
@media (max-width: 412px){
    .btn-white{
        margin-top: 7px;
    }
    #nuevo{
        
        display: block;
    }
}
@media (max-width: 680px){
    .btn-white{
        margin-top: 12px;
    }
    #nuevo{
        
        display: block;
    }
}
@media (max-width: 768px){
    #content{
        float: none;
        width: 100%;
    }
    #sidebar{
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }
    #slider h1{
        padding: 60px;
        font-size: 25px;
    }
    #nuevo{
        
        display: block;
    }
}

@media (max-width: 360px){
    #content .subheader{
        font-size: 15px;
    }
    #articles h2{
        font-size: 15px;
    }
    .radio-buttons{
        font-size: 14px;
        margin-left: 11px
    }
    .btn-success{
        margin: 0px auto;
    }
    .btn-white{
        padding: 4px;
        font-size: 10px;
    }
    .copy{
        font-size: 10px;
    }
    .sidebar-item{
        margin-left: -21px;
    }
    
    .medida{
        font-size: 12px !important;
    }
    .luladaImg{
    height: 50% !important;
    width: 50% !important;
    }
    .texto2{
        font-size: 16px;
        margin-top: 8px;
        margin-top: 21px;
        margin-bottom: 74px;
        
    }
    .texto3{
        
        margin-top: 21px;
        margin-bottom: 74px;
    }
    #nuevo{
        
        display: block;
    }
}
@media (max-width: 373px){
    
    
}
@media (max-width: 1067px){
    #logo{
        display: flex;
    }
}
@media (max-width: 528px){
    .copy{
        font-size: 10px;
    }
    .redes1{
        font-size: 11px;
    }
}



@media (max-width: 844px){
    .luladaImg{
        width: 49% !important;

    }
}
@media (max-width: 828px){
    .luladaImg{
        width: 42% !important;

    }
}
@media (max-width: 728px){
    .luladaImg{
        width: 40% !important;

    }
}
@media (max-width: 704px){
    .luladaImg{
        width: 38% !important;

    }
}
@media (max-width: 682px){
    .onzas{
        font-size: 15px !important;
    }
    .comprar{
        padding: 0px;
        font-size: 10px;
    }
    .medida{
        font-size: 13px;
    }
}

@media (max-width: 682px){
    
    .medida{
        font-size: 12px;
    }
}

@media (max-width: 558px){
    
    .medida{
        font-size: 12px;
    }
    .texto2{
        font-size: 12px;
    }
    .onzas{
        margin-top: 30px;
        font-size: 12px !important;
        border-bottom: 1px solid ;
    }
    .comprar{
       margin-top: 60px !important;
    }
    .precios{
        height: 211px;
    }
    
}

@media (max-width: 518px){
    
    .medida{
        font-size: 11px !important;
    }
    .texto2{
        font-size: 12px;
    }
    .onzas{
        margin-top: 30px;
        font-size: 12px !important;
        border-bottom: 1px solid ;
    }
    .comprar{
       margin-top: 60px !important;
       height: 34px;
       width: 70px;
       font-size: 11px !important;
    }
    .precios{
        height: 211px;
    }
    
}

@media (max-width: 476px){
    
    .medida{
        font-size: 10px !important;
    }
    
    
}

@media (max-width: 476px){
    
    .medida{
        font-size: 8px !important;
    }
    .comprar{
        height: 29px;
width: 61px;
font-size: 10px !important;
    }
    
    
}
@media (max-width: 410px){
    
    .comprar{
        margin-top: 40px !important;
    }
    
    
}

@media (max-width: 395px){
    
    .precios{
       height: 196px;
    }
    
    
}



@media (max-width: 360px){
    
    
}